{% extends "base/base.html" %}
{% load custom_filters %}

{% block title %}Password Reset | Simulate Agents{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h3 class="text-center mb-4">Reset Password</h3>
        <p class="mb-3">Enter your email address below, and we'll email instructions for setting a new password.</p>
        
        {% include "base/turnstile_script.html" %}
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            <div class="alert alert-danger">
                {{ form.email.errors }}
            </div>
            {% endif %}
            {{ form.email|addclass_to_label:"form-label" }}
            {{ form.email|addclass_to_input:"form-control"|add_autofocus }}
            <br>
            {% include "base/turnstile_div.html" %}
            <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
        </form>
    </div>
</div>
{% endblock %}