{% extends "base/base.html" %}
{% load custom_filters %}

{% block title %}Password Reset | Simulate Agents{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        {% if validlink %}
            <h3 class="text-center mb-4">Reset Password</h3>
            <p class="mb-3">Please enter and confirm your new password.</p>
            
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                {{ form.new_password1|addclass_to_label:"form-label" }}
                {{ form.new_password1|addclass_to_input:"form-control"|add_autofocus }}
                <br>
                
                {{ form.new_password2.errors }}
                {{ form.new_password2|addclass_to_label:"form-label" }}
                {{ form.new_password2|addclass_to_input:"form-control" }}
                <br>
                
                <button type="submit" class="btn btn-primary w-100">Change Password</button>
            </form>
        {% else %}
            <div class="text-center">
                <h4 class="mb-3">Password reset failed</h4>
                <p>The password reset link is invalid, possibly because it has already been used.</p>
                <p><a href="{% url 'password_reset' %}" class="btn btn-primary">Request New Reset Link</a></p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}